{ns main
 import #{aidbox config awf.scheduler}

 encounter-completed-task
 {:zen/tags          #{zen/schema awf.task/definition}
  :type              zen/map
  :requestedToStartTimeout 300000 #_"This parameter is so big for demo purposes only."
  :inProgressTimeout       300000
  :allowedRetryCount 3
  :retryDelay        1000
  :concurrencyLimit  5
  :keys              {:params {:type zen/any}
                      :result {:type zen/any}}}

 patient-deceased-task
 {:zen/tags          #{zen/schema awf.task/definition}
  :type              zen/map
  :allowedRetryCount 3
  :retryDelay        1000
  :concurrencyLimit  5
  :keys              {:params {:type zen/any}
                      :result {:type zen/any}}}

 patient-change-task
 {:zen/tags          #{zen/schema awf.task/definition}
  :type              zen/map
  :allowedRetryCount 1
  :retryDelay        1000
  :concurrencyLimit  5
  :keys              {:params {:type zen/any}
                      :result {:type zen/any}}}

 topic-def
 {:zen/tags #{fhir.topic-based-subscription/topic-definition}
  :url "http://aidbox.app/SubscriptionTopic/observations"
  :resourceTrigger [{:resource "Patient"}
                    {:resource "Encounter"
                     :fhirPathCriteria "%current.status = 'completed'"}]

  :canFilterBy [{:resource        "Patient"
                 :filterParameter "Patient-deceased"
                 :_fhirPath       "(%previous.deceased.exists().not() or %previoius.deceased = false) and (%current.deceased.exists() and %current.deceased = true)"
                 :modifier        ["eq"]}
                {:filterParameter "resource-type"
                 :_fhirPath       "resourceType"
                 :modifier        ["eq"]}]}

 awf-connector
 {:zen/tags #{fhir.topic-based-subscription/topic-storage}
  :storage-type fhir.topic-based-subscription/awf-connector
  :maxContent "full-resource"
  :rules [{:task     {:definition       encounter-completed-task}
           :filterBy [{:filterParameter "resource-type"
                       :modifier        "eq"
                       :value           "Encounter"}]}
          {:task     {:definition       patient-change-task}
           :filterBy [{:filterParameter "resource-type"
                       :modifier        "eq"
                       :value           "Patient"}]}
          {:task     {:definition       patient-deceased-task}
           :filterBy [{:resourceType    "Patient"
                       :filterParameter "Patient-deceased"
                       :modifier        "eq"
                       :value           "true"}]}]}

 topic-srv
 {:zen/tags #{aidbox/service}
  :engine fhir.topic-based-subscription/change-data-capture-service-engine
  :topic-definition topic-def
  :topic-storage awf-connector}

 box
 {:zen/tags #{aidbox/system}
  :config   config/base-config
  :services {:admin-user-seed config/admin-user-seed
             :root-client-seed config/root-client-seed
             :logs config/stdout-appender
             :topic topic-srv}}}
